<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogs App</title>
  <!-- Semantic UI CDN -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="big teal comment icon"></i>Blog Site</div> <!-- similar to bootstrap's navbar-brand -->
      <a href="/" class="item">Home</a>
      <a href="/blogs" class="item">Posts</a>
      <a href="/blogs/new" class="item">New Post</a>
    </div>
  </div>
