<% include partials/header %>
<div class="ui container">
  <h1>Blogs</h1>
</div>

<% blogs.forEach( function(value, index) { %>
  <div class="ui container segment">
    <h3><%= value.title %></h3>
    <h5><%= value.created %></h5>
    <img src="<%= value.image %>" alt="blog image">
    <p><%= value.body %></p>
  </div>
<% } ); %>

<% include partials/footer %>
