<% include partials/header %>

<div class="ui container segment center">
  <h1>The Talk Of My Mind</h1>
  <a href="/blogs" class="ui inverted blue button">View all blogs</a>
</div>

<% include partials/footer %>
